/*This is custom css file */

html,
body {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
}

html {
  font-size: 62.5% !important; /* 10÷16=62.5% */
}
@media only screen and (min-width: 481px) {
  html {
    font-size: 94% !important; /* 15.04÷16=94% */
  }
}
@media only screen and (min-width: 561px) {
  html {
    font-size: 109% !important; /* 17.44÷16=109% */
  }
}
@media only screen and (min-width: 641px) {
  html {
    font-size: 125% !important; /* 20÷16=125% */
  }
}

